@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}
@model Podcast
@section css{
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px)" href="@Url.Content("~/Content/CSS/Podcasts/podcastDelete.css")">
}

<p>Weet u ZEKER dat u "@Model.Title" wilt verwijderen?</p>

<form method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="submit" name="Confirmed" value="Annuleren" default />
    <input type="submit" name="Confirmed" value="Verwijderen" />
</form>