@{Layout = null;}
@model IEnumerable<Podcast>


@{Response.ContentType = "text/xml";
  

Response.Write("<?xml version='1.0' encoding='UTF-8' ?>");
Response.Write("<rss version='2.0'>");
    Response.Write("<channel>");
    Response.Write("<title>RSS feed leerwerkbedrijf Lisa</title>");
    Response.Write("<description>Hier komt de beschrijving van de RSS feed van Lisa.</description>");
    Response.Write("<link>http://www.leerwerkbedrijflisa.nl</link>");}
    
        @foreach(var podcast in Model)
        {
            Response.Write("<item>");
                Response.Write("<title>" + podcast.Title + "</title>"); 
                Response.Write("<description>" + podcast.Content + "</description>");  
                Response.Write("<link>Hier komt een link test</link>");  
            Response.Write("</item>");
        }       
            
    @{Response.Write("</channel>");}         
@{Response.Write("</rss>");}     