@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<h1>Mijn gegevens</h1>

<a href="@Url.Action("PassEdit", "User")">Wachtwoord Wijzigen</a>
<a href="@Url.Action("Edit", "User")">Gegevens Wijzigen</a>