@model ChangePass
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<header>
    <h1>Uw Wachtwoord wijzigen.</h1>
</header>

<section>
    @Html.ValidationSummary(false)

    <p>U heeft een tijdelijk wachtwoord toegewezen gekregen of uw wachtwoord is verlopen. Voordat u verder gaat moet u eerst een nieuw wachtwoord invullen. Zorg dat dit een veilig en niet eerder gebruikt wachtwoord is.</p>
    <form method="post">
        <span>Nieuw wachtwoord:</span><input type="password" name="PasswordNew" />
        <span>Wachtwoord Bevestigen:</span><input type="password" name="PasswordConfirm"/>
        <p><input type="submit" value="Opslaan"/></p>
    </form>
</section>