@model User
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<header>
    <h1>Gebruiker @Model.UserName aanpassen</h1>
</header>

<section>
    @Html.ValidationSummary(false)

    <form method="post">
        <p>Email: </p><p><input type="text" value="@Model.UserName" name="email" /></p>
        <p>Wachtwoord aanpassen:</p>
        <p>Gebruiker verplichten zijn wachtwoord aan te passen: </p>
        <p>
            <select name="ChangePassword">
                @if (Model.ChangePassword == true)
                {
                    <option value="true">Wachtwoord aanpassen</option>
                    <option value="false">Wachtwoord behouden</option>
                }
                else
                {
                    <option value="false">Wachtwoord behouden</option>
                    <option value="true">Wachtwoord aanpassen</option>
                }
            </select>
        </p>

        <p>Wachtwoord: </p><p><input type="text" value="" name="passwordNew" /></p>
        <p>Wachtwoord bevestigen: </p><p><input type="text" value="" name="passwordConfirm" /></p>
        <p><button type="submit">Aanpassen</button></p>
    </form>
</section>