@model Lisa.Website.ViewModels.LogInModel
@section css{
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Auth/Login.css")">
}

@Html.Partial("~/Views/Shared/_Menu.cshtml")

<section>
	<h2>Welkom op de inlogpagina.</h2>

	@Html.ValidationSummary(true)

	<form method="post">
		<p>Email: </p><p><input type="text" value="" name="email"/></p>
		<p>Password: </p><p><input type="password" value="" name="password"/></p>
		<p><button type="submit">Inloggen</button></p>
	</form>
</section>