.banner h1
{
	color: white;
	text-align: center;
	font-size: 40px;
	position: absolute;
	width: 100%;
	margin-top: 10%;
	font-weight: normal;
}

.content a,
.artikelen a
{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.content a:hover,
.artikelen a:hover
{
	cursor: pointer;
}

.articleContent
{
	height: 0px;
	margin-top: 0px;
}

.content h1,
.artikelen h1
{
	padding-top: 10px;
	margin-left: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal;
	font-size: 20px;
}

.content li,
.artikelen li
{
	display: inline;
	width: 96%;
	height: auto;
	background-color: #DEDEDE;
	margin-left: 2%;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0px;
	float: left;
}

.content ul,
.artikelen ul
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.content img,
.artikelen img
{
	width: 100px;
	height: auto;
	padding: 0px;
	margin: 0px;
	float: left;
}

.content p,
.artikelen p
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0px;
	font-size: 10px;
	float: left;
}

.content h2,
.artikelen h2
{
	margin: 0px;
	font-size: 13px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	font-weight: normal;
	float: left;
}

.content div,
.artikelen div
{
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
}

.content,
.artikelen
{
	width: 100%;
	min-height: 200px;
	padding: 0px;
	margin: 0px;
	background-color: white;
}