.banner h1
{
	color: white;
	text-align: center;
	font-size: 90px;
	position: absolute;
	width: 100%;
	margin-top: 10%;
	font-weight: normal;
}

.content li
{
	display: inline;
	width: 350px;
	height: 320px;
	background-color: #DEDEDE;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 0px;
	float: left;
}

.content a
{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.content a:hover
{
	cursor: hand;
}

.content ul
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.content img
{
	width: 350px;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.content p
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin: 0px;
	font-size: 15px;
}

.content h2
{
	margin: 0px;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-weight: normal;
}

.content div
{
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}

.content
{
	width: 100%;
	min-height: 350px;
	margin: 0px;
	background-color: #DEDEDE;
	padding-top: 70px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
}

.artikelen ul
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.artikelen img
{
	width: 350px;
	height: 230px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.artikelen div
{
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.artikelen a
{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: black;
	text-decoration: none;
	position: relative;
	width: 350px;
	height: 230px;
}

.artikelen a:hover
{
	cursor: hand;
}

.artikelen li
{
	display: inline;
	width: 350px;
	height: 230px;
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding: 0px;
	float: left;
}

.artikelen p
{
	color: white;
	width: 340px;
	height: 0px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 0px ;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.artikelen h2
{
	margin: 0px;
	font-size: 15px;
	font-weight: normal;
	z-index: 3;
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding-left: 5px;
	padding-right: 5px;
	width: 340px;
	height: 20px;
}

.artikelen
{
	width: 100%;
	min-height: 350px;
	margin: 0px;
	background-color: white;
	padding-top: 70px;
	padding-bottom: 40px;
	padding-right: 0px;
	padding-left: 0px;
}

.articleContent{
	height: 20px;
	margin-top: 210px;
}