body
{
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.menu
{
	position: fixed;
	background-color: #DC0000;
	width: 40%;
	padding: 0px;
	margin: 0px;
	height: auto;
	z-index: 50;
	top: 0px;
	display: none;
}

.menu ul
{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
}

.menu li
{
	
	padding: 0px;
	text-decoration: none;
	margin: 0px;
	width: 100%;
	height: 40px;
	text-align: center;
	display: inline;
}

.menu a
{
	color: white;
	text-decoration: none;
	height: 40px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}

.menu a:hover
{
	background-color: #FF0000;
}

.menu a:active
{
	background-color: #BE0000;
}

#logobutton a:hover
{
	background-color: #DC0000;
}

#logobutton a:active
{
	background-color: #DC0000;
}

.menu span
{
	position: relative;
	top: 10px;
}

.menu img
{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 35px;
}

#responsive-menu
{
	display: inline;
	margin: 0px;
	padding: 0px;
	width: 30px;
	height: 30px;
	position: fixed;
	float: left;
	z-index: 20;
	background-color: #DC0000;
	border-bottom-right-radius: 6px;
}

#responsive-menu:hover
{
	cursor: pointer;
}

#responsive-menu ul
{
	margin: 0px;
	padding: 0px;
}

#responsive-menu li
{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#responsive-menu a
{
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
}

#responsive-menu span
{
	content: '';
    width: 20px;
    height: 4px;
    background-color: white;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-top: 1px;
    border-radius: 5px;
}

#responsive-menu span:first-child
{
	margin-top: 7px;
}

#responsive-close a
{
	background-color: #ADADAD;
	display: inline;
	color: black;
}

#responsive-close a:hover
{
	background-color: #999999;
}

.banner
{
	margin-top: 0px;
	width: 100%;
	color: white;
	position: relative;
	padding-bottom: 37%;
	background-image: url("../image/banner16-6-small.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.footer
{
	width: 100%;
	color: white;
	background-image: none;
	padding: 0px;
}

#footerdiv
{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../image/bottom.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

.footer p
{

	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0px;
	float: left;
	width: 50%;
	font-size: 10px;
}

.footer h2
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 15px;
}

#content-footer
{
	position: static;
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}