@model User
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<header>
    <h1>Gebruiker @Model.UserName aanpassen</h1>
</header>

<section>
    @Html.ValidationSummary(false)

    <form method="post">
        <p>Email: </p><p><input type="text" value="@Model.UserName" name="email" /></p>
        <p><button type="submit">Aanpassen</button></p>
    </form>
</section>