/*The css is ordered in the way the html is nested in the add page of articles. */

.addArticle ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.addArticle textarea
{
	width: 500px;
	height: 500px;
}

.addArticle span
{
	width: 100px;
	display: inline-block;
}