/*The css is ordered in the way the html is nested in the edit page of articles. */

section ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

section textarea
{
	width: 500px;
	height: 500px;
}

section span
{
	width: 100px;
	display: inline-block;
}