@model IEnumerable<Project>
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}
@section css{
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Projects/")">
}

<header>
	<h1>Project Toevoegen:</h1>
</header>