@model IEnumerable<Article>
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

@if(ViewBag.Saved == true)
{
    <p id="importnantMessage">Het artikel is succesvol opgeslagen!</p>
}

<h1>Artikel Toevoegen:</h1>

<form method="post" class="addArticle">
    <ul>
        <li><span>Titel: </span><input type="text" name="Title" /></li>
        <li><span>Afbeelding: </span><input type="text" name="Image"/></li>
        <li id="contentField">Inhoud:</li>
        <li><textarea name="Content"></textarea></li>
        <li><input type="submit" value="Opslaan" /></li>
    </ul>
</form>