@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

@if(ViewBag.Saved == true)
{
    <p>Het artikel is succesvol opgeslagen!</p>
}

<form method="post">
    <ul>
        <li>Titel: <input type="text" name="Title" /></li>
        <li>Afbeelding: <input type="text" name="Image"/></li>
        <li>Inhoud: <input type="text" name="Content"/></li>
        <li><input type="submit" name="Opslaan" /></li>
    </ul>
</form>