@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<form method="post">
    <p>Titel:</p><input type="text" name="Title" />
    <p>Afbeelding:</p><input type="text" name="Image" />
    <p>Inhoud:</p><input type="text" name="Content"/>
    <input type="submit" name="Opslaan" />
</form>