.addPodcast ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.addPodcast textarea
{
    width: 500px;
    height: 500px;
}

.addPodcast span
{
    width: 100px;
    display: inline-block;
}