/*The css is ordered in the way the html is nested in the edit page of podcasts. */

.editPodcast ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.editPodcast span
{
    width: 100px;
    display: inline-block;
}

#Reference
{
    width: 140px;
}

.editPodcast a
{
    text-decoration: none;
    color: blue;
}

.editPodcast a:hover
{
    text-decoration: underline;
}

.editPodcast textarea
{
    width: 500px;
    height: 500px;
}