/*The css is ordered in the way the html is nested in the index page of articles. */

.banner h1
{
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	font-weight: normal;
}

.podcast
{
	background-color: #DEDEDE;
	width: 100%;
	min-height: 50px;
	margin: 0px;
	padding: 0px;
}

.podcast div
{
	max-width: 1130px;
    margin: 0 auto 0 auto;
    padding: 40px 0 60px 0;
}

.podcast h2
{
	margin: 0px;
    padding: 10px 0 0 0;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-top: 0px;
	display: block;
	width: 100%;
}

/* NOTE: HIER VERDER MET REFACTOREN.*/

#leftcontainer
{
	width: 58%;
	display: block;
	margin: 0px;
	padding-bottom: 15px;
	padding-right: 35px;
	padding-left: 0px;
	padding-top: 0px;
	float: left;
}

.podcast span
{
	max-width: 100%;
	background-color: #FAC8D0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid black;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	display: block;
}

.podcast audio
{
    width: 630px;
    height: 35px;
}

.podcast p
{
	width: 100%;
	display: block;
	margin-left: 5px;
	margin-right: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.podcastLink
{
	background-color: #FAC8D0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 0px;
	margin-left: 5px;
	border: 1px solid black;
	font-size: 15px;
    text-decoration: none;
    position: absolute;
    color: black;
}

.podcastLink:hover 
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#references
{
    color: blue;
    text-decoration: none;
}

#references:hover
{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.podcast ul
{
	width: 35%;
	min-height: 150px;
	float: left;
	display: block;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
}

.podcast li
{
	width: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	display: inline-block;
}

#morespace
{
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#button_container
{
	width: 100%;
    height: 50px;
	background-color: #DEDEDE;
	padding: 0px;
	border: 0px solid black;
	margin: 0px;
	display: block;
	overflow: hidden;
}

.podcast img
{
	height: 12px;
	width: 15px;
	padding: 0px;
	margin-right: 5px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.reply
{
	background-color: white;
	max-width: 1130px;
	min-height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 0px;
}

.reply h2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
}

.reply div
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #DEDEDE;
	max-width: 58%;
}

.reply h3
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 15px;
}

.reply p
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#RSS
{
    margin-left: 130px;
    color: black;
}

/*The code below is style that only applies to that element when it is wider than 801px*/

@media all and (min-width: 801px) 
{
    .banner h1 
    {
        font-size: 50px;
        margin-top: 10%;
    }

    .podcast h2
    {
        margin-left: 5px;
    }
}

/*The code below is style that only applies to that element when it is smaller than 800px. This style is used for mobile devices and small tablets.*/

@media all and (max-width: 800px) 
{
    .banner h1
    {
        font-size: 30px;
        margin-top: 9%;
    }

    .podcast h2
    {
        margin-left: 10px;
    }
}