.banner h1
{
	color: white;
	text-align: center;
	font-size: 40px;
	position: absolute;
	width: 100%;
	margin-top: 10%;
	font-weight: normal;
}

.articlesContent
{
	height: auto;
	margin-top: 0px;
	padding-left: 0px;
	top: 0px;
	position: inherit;
}

.articlesContent ul
{
	margin: 0px;
	padding: 0px;
}

.articlesContent img
{
	width: 100px;
	height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 5px;
	margin: 0px;
	float: left;
}

.articlesContent div
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.articlesContent a
{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	color: black;
	text-decoration: none;
	position: static;
	width: 96%;
	min-height: 20px;
}

.articlesContent a:hover
{
	cursor: pointer;
}

.articlesContent li
{
	display: block;
	width: 96%;
	min-height: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 0px;
	float: left;
	background-color: #DEDEDE;
}

.articlesContent p
{
	color: black;
	width: auto;
	min-height: 20px;
	background-color: rgba(0,0,0,0);
	margin: 0px ;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 2%;
	padding-right: 2%;
}

.articlesContent h2
{
	margin: 0px;
	font-size: 15px;
	font-weight: normal;
	z-index: 1;
	color: black;
	background-color: rgba(0,0,0,0);
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: auto;
	min-height: 20px;
	float: left;
}

.articlesContent
{
	width: 100%;
	min-height: 0px;
	margin: 0px;
	background-color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.content a
{
	color: black;
	text-decoration: none;
	width: 100%;
	height: auto;
}

.content h1
{
	padding-top: 10px;
	margin-left: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal;
	font-size: 20px;
}

.content li
{
	display: inline;
	width: 96%;
	height: auto;
	background-color: #DEDEDE;
	margin-left: 2%;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0px;
	float: left;
}

.content ul
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.content img
{
	width: 100px;
	height: auto;
	padding: 0px;
	margin: 0px;
	float: left;
}

.content p
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0px;
	font-size: 10px;
	float: left;
}

.content h2
{
	margin: 0px;
	font-size: 13px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	font-weight: normal;
	float: left;
}

.content div
{
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
}

.content
{
	width: 100%;
	min-height: 0px;
	margin: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-color: white;
}