body
{
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.menu
{
	position: fixed;
	background-color: #DC0000;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 65px;
	z-index: 50;
	top: 0px;
	display: inline;
}

.menu ul
{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
}

.menu li
{
	
	padding: 0px;
	text-decoration: none;
	display: inline;
	text-align: center;
	margin: 0px;
}

.menu a
{
	float: left;
	color: white;
	text-decoration: none;
	height: 65px;
	padding: 0px;
	margin: 0px;
	width: 16.5%;
}

.menu a:hover
{
	background-color: #FF0000;
}

.menu a:active
{
	background-color: #BE0000;
}

#logobutton a:hover
{
	background-color: #DC0000;
}

#logobutton a:active
{
	background-color: #DC0000;
}

.menu span
{
	position: relative;
	top: 20px;
}

.menu img
{
	padding-top: 9px;
}

.responsive-menu
{
	display: none;
}	

#responsive-button
{
	display: none;
}

.banner
{
	margin-top: 65px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	color: white;
	position: relative;
	padding-bottom: 37%;
	background-image: url("/Content/Images/banner16-6.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.footer
{
	width: 100%;
	color: white;
	background-image: none;
	padding: 0px;
}

#footerdiv
{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("/Content/Images/bottom.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 80px;
}

.footer p
{

	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0px;
	float: left;
	width: 50%;
}

.footer h2
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 0px;
	font-weight: normal;
}

#content-footer
{
	position: static;
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.jump-button
{
	position: relative;
	color: black;
	bottom: 65px;
	visibility: hidden;
	float: left;
	width: 0px;
}